body {
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden !important;
    zoom: 90% !important;
}

/* NAV */

.navbar {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
    background: #F8F7FF !important;
    height: 130vh !important;
    z-index: 10000 !important;
}

.navbar .active {
    color: #000 !important;
    font-weight: 700 !important;
}

.navbar .btn {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn {
    box-shadow: none !important;
}

.btn-primary {
    background: linear-gradient(278.99deg, #FF9675 4.15%, #AEA0FF 269.48%) !important;
    border-radius: 8px !important;
    position: relative;
    border: none !important;
    border: none !important;
}

.navbar .btn-primary {
    background: linear-gradient(278.99deg, #FF9675 4.15%, #AEA0FF 269.48%) !important;
    border-radius: 8px !important;
    position: relative;
    top: 120px !important;
    border: none !important;
}

.navbar .nav-link {
    color: #A5A2B8;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 0.875rem;
}

.navbar .nav-item {
    margin-bottom: 20px !important;
}

.navbar.navbar-absolute {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.navbar.navbar-transparent .nav-link,
.navbar.navbar-transparent .nav-link i {
    color: #fff;
}

.navbar.navbar-transparent .nav-link:hover,
.navbar.navbar-transparent .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar.navbar-transparent .navbar-toggler .navbar-toggler-icon .navbar-toggler-bar {
    background: #fff;
}

.navbar.navbar-transparent .navbar-collapse {
    border-radius: 1rem;
}

.navbar.navbar-dark .navbar-collapse.show .dropdown-header.text-dark,
.navbar.navbar-dark .navbar-collapse.collapsing .dropdown-header.text-dark {
    color: #fff !important;
}

.navbar .sidenav-toggler-inner {
    width: 18px;
}

.navbar .sidenav-toggler-inner .sidenav-toggler-line {
    transition: all 0.15s ease;
    background: #67748e;
    border-radius: 0.125rem;
    position: relative;
    display: block;
    height: 2px;
}

.navbar .sidenav-toggler-inner .sidenav-toggler-line:not(:last-child) {
    margin-bottom: 3px;
}

.g-sidenav-show.g-sidenav-pinned .navbar .sidenav-toggler-inner .sidenav-toggler-line:first-child,
.g-sidenav-show.g-sidenav-pinned .navbar .sidenav-toggler-inner .sidenav-toggler-line:last-child {
    width: 13px;
    transform: translateX(5px);
}

.navbar-light {
    background-color: #fff !important;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: none;
}

.navbar-toggler .navbar-toggler-icon .navbar-toggler-bar {
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: #6c757d;
    transition: all 0.2s;
    margin: 0 auto;
}

.navbar-toggler .navbar-toggler-icon .navbar-toggler-bar.bar2,
.navbar-toggler .navbar-toggler-icon .navbar-toggler-bar.bar3 {
    margin-top: 7px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-bar.bar1 {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    margin-top: 4px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-bar.bar2 {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-bar.bar3 {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    margin-top: 3px;
}

@media (max-width: 991.98px) {
    .navbar.navbar-transparent .navbar-collapse {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .navbar.navbar-transparent .navbar-collapse.collapsing {
        background: #fff;
    }

    .navbar.navbar-transparent .navbar-collapse.show {
        background: #fff;
    }

    .navbar.navbar-transparent .navbar-collapse.show .nav-link,
    .navbar.navbar-transparent .navbar-collapse.show i {
        color: #344767;
    }

    .g-sidenav-show .navbar:not(.sidenav).navbar-main .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .g-sidenav-show .navbar:not(.sidenav).navbar-main .navbar-nav {
        flex-direction: row;
    }

    .navbar.navbar-transparent .navbar-collapse {
        box-shadow: 0 8px 26px -4px rgba(20, 20, 20, 0.15), 0 8px 9px -5px rgba(20, 20, 20, 0.06);
    }
}

@media (max-width: 767.98px) {
    .navbar-collapse {
        position: relative;
    }

    .navbar-collapse .navbar-nav {
        width: 100%;
    }

    .navbar-collapse .navbar-nav .nav-item.dropdown {
        position: static;
    }

    .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu {
        left: 0;
        right: 0;
    }

    .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu.show:before {
        content: none;
    }
}

@media (max-width: 575.98px) {
    .navbar-nav .nav-item.dropdown .dropdown-menu {
        left: 0;
        right: auto;
    }
}

.navbar-vertical {
    transition: all .5s ease-in-out !important;
}


.navbar-vertical .navbar-brand>img,
.navbar-vertical .navbar-brand-img {
    max-width: 100%;
    max-height: 9rem;
}

.navbar-vertical .navbar-nav {
    flex-direction: column !important;
}

.navbar-vertical .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    color: #67748e;
}

.navbar-vertical .navbar-nav .nav-link>i {
    min-width: 1.8rem;
    font-size: 0.9375rem;
    line-height: 1.5rem;
}

.navbar-vertical .navbar-nav .nav-link .dropdown-menu {
    border: none;
}

.navbar-vertical .navbar-nav .nav-link .dropdown-menu .dropdown-menu {
    margin-left: 0.5rem;
}

.navbar-vertical .navbar-nav .nav-link .icon {
    padding: 10px;
}

.navbar-vertical .navbar-nav .nav-sm .nav-link {
    font-size: 0.8125rem;
}

.navbar-vertical .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbar-vertical .navbar-heading {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.navbar-vertical.navbar-expand-xs {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem !important;
    overflow-y: auto;
    padding: 0;
    box-shadow: none;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(100vh - 360px);
}

.navbar-vertical.navbar-expand-xs>[class*="container"] {
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .navbar-vertical.navbar-expand-xs>[class*="container"] {
        min-height: none;
        height: 100%;
    }
}

.navbar-vertical.navbar-expand-xs.fixed-start {
    left: 0;
}

.navbar-vertical.navbar-expand-xs.fixed-end {
    right: 0;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    padding-top: 0.675rem;
    padding-bottom: 0.675rem;
    margin: 0 1rem;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .nav-link-text,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-mini-icon,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-normal,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link i {
    pointer-events: none;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-item {
    width: 100%;
}

.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item {
    margin-top: 0.125rem;
}

.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item .icon .ni {
    top: 0;
}

.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item>.nav-link .icon svg .color-background {
    fill: #3A416F;
}

.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item>.nav-link .icon svg .color-foreground {
    fill: #141727;
}

.navbar-vertical.navbar-expand-xs .lavalamp-object {
    width: calc(100% - 1rem) !important;
    background: theme-color("primary");
    color: color-yiq(#cb0c9f);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav .nav-link {
    padding-top: 0.417rem;
    padding-bottom: 0.417rem;
    padding-left: 15px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav .nav-link>span.sidenav-normal {
    transition: all 0.1s ease 0s;
}

@media (min-width: 576px) {
    .navbar-vertical.navbar-expand-sm {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: 15.625rem !important;
        overflow-y: auto;
        padding: 0;
        box-shadow: none;
    }

    .navbar-vertical.navbar-expand-sm .navbar-collapse {
        display: block;
        overflow: auto;
        height: calc(100vh - 360px);
    }

    .navbar-vertical.navbar-expand-sm>[class*="container"] {
        flex-direction: column;
        align-items: stretch;
        min-height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (min-width: 576px) and (-ms-high-contrast: none),
(min-width: 576px) and (-ms-high-contrast: active) {
    .navbar-vertical.navbar-expand-sm>[class*="container"] {
        min-height: none;
        height: 100%;
    }
}

@media (min-width: 576px) {
    .navbar-vertical.navbar-expand-sm.fixed-start {
        left: 0;
    }

    .navbar-vertical.navbar-expand-sm.fixed-end {
        right: 0;
    }

    .navbar-vertical.navbar-expand-sm .navbar-nav .nav-link {
        padding-top: 0.675rem;
        padding-bottom: 0.675rem;
        margin: 0 1rem;
    }

    .navbar-vertical.navbar-expand-sm .navbar-nav .nav-link .nav-link-text,
    .navbar-vertical.navbar-expand-sm .navbar-nav .nav-link .sidenav-mini-icon,
    .navbar-vertical.navbar-expand-sm .navbar-nav .nav-link .sidenav-normal,
    .navbar-vertical.navbar-expand-sm .navbar-nav .nav-link i {
        pointer-events: none;
    }

    .navbar-vertical.navbar-expand-sm .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-vertical.navbar-expand-sm .navbar-nav>.nav-item {
        margin-top: 0.125rem;
    }

    .navbar-vertical.navbar-expand-sm .navbar-nav>.nav-item .icon .ni {
        top: 0;
    }

    .navbar-vertical.navbar-expand-sm .navbar-nav>.nav-item>.nav-link .icon svg .color-background {
        fill: #3A416F;
    }

    .navbar-vertical.navbar-expand-sm .navbar-nav>.nav-item>.nav-link .icon svg .color-foreground {
        fill: #141727;
    }

    .navbar-vertical.navbar-expand-sm .lavalamp-object {
        width: calc(100% - 1rem) !important;
        background: theme-color("primary");
        color: color-yiq(#cb0c9f);
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.25rem;
    }

    .navbar-vertical.navbar-expand-sm .navbar-nav .nav .nav-link {
        padding-top: 0.417rem;
        padding-bottom: 0.417rem;
        padding-left: 15px;
    }

    .navbar-vertical.navbar-expand-sm .navbar-nav .nav .nav-link>span.sidenav-normal {
        transition: all 0.1s ease 0s;
    }
}

@media (min-width: 768px) {
    .navbar-vertical.navbar-expand-md {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: 15.625rem !important;
        overflow-y: auto;
        padding: 0;
        box-shadow: none;
    }

    .navbar-vertical.navbar-expand-md .navbar-collapse {
        display: block;
        overflow: auto;
        height: calc(100vh - 360px);
    }

    .navbar-vertical.navbar-expand-md>[class*="container"] {
        flex-direction: column;
        align-items: stretch;
        min-height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (min-width: 768px) and (-ms-high-contrast: none),
(min-width: 768px) and (-ms-high-contrast: active) {
    .navbar-vertical.navbar-expand-md>[class*="container"] {
        min-height: none;
        height: 100%;
    }
}

@media (min-width: 768px) {
    .navbar-vertical.navbar-expand-md.fixed-start {
        left: 0;
    }

    .navbar-vertical.navbar-expand-md.fixed-end {
        right: 0;
    }

    .navbar-vertical.navbar-expand-md .navbar-nav .nav-link {
        padding-top: 0.675rem;
        padding-bottom: 0.675rem;
        margin: 0 1rem;
    }

    .navbar-vertical.navbar-expand-md .navbar-nav .nav-link .nav-link-text,
    .navbar-vertical.navbar-expand-md .navbar-nav .nav-link .sidenav-mini-icon,
    .navbar-vertical.navbar-expand-md .navbar-nav .nav-link .sidenav-normal,
    .navbar-vertical.navbar-expand-md .navbar-nav .nav-link i {
        pointer-events: none;
    }

    .navbar-vertical.navbar-expand-md .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-vertical.navbar-expand-md .navbar-nav>.nav-item {
        margin-top: 0.125rem;
    }

    .navbar-vertical.navbar-expand-md .navbar-nav>.nav-item .icon .ni {
        top: 0;
    }

    .navbar-vertical.navbar-expand-md .navbar-nav>.nav-item>.nav-link .icon svg .color-background {
        fill: #3A416F;
    }

    .navbar-vertical.navbar-expand-md .navbar-nav>.nav-item>.nav-link .icon svg .color-foreground {
        fill: #141727;
    }

    .navbar-vertical.navbar-expand-md .lavalamp-object {
        width: calc(100% - 1rem) !important;
        background: theme-color("primary");
        color: color-yiq(#cb0c9f);
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.25rem;
    }

    .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link {
        padding-top: 0.417rem;
        padding-bottom: 0.417rem;
        padding-left: 15px;
    }

    .navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link>span.sidenav-normal {
        transition: all 0.1s ease 0s;
    }
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: 15.625rem !important;
        overflow-y: auto;
        padding: 0;
        box-shadow: none;
    }

    .navbar-vertical.navbar-expand-lg .navbar-collapse {
        display: block;
        overflow: auto;
        height: calc(100vh - 360px);
    }

    .navbar-vertical.navbar-expand-lg>[class*="container"] {
        flex-direction: column;
        align-items: stretch;
        min-height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (min-width: 992px) and (-ms-high-contrast: none),
(min-width: 992px) and (-ms-high-contrast: active) {
    .navbar-vertical.navbar-expand-lg>[class*="container"] {
        min-height: none;
        height: 100%;
    }
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg.fixed-start {
        left: 0;
    }

    .navbar-vertical.navbar-expand-lg.fixed-end {
        right: 0;
    }

    .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link {
        padding-top: 0.675rem;
        padding-bottom: 0.675rem;
        margin: 0 1rem;
    }

    .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link .nav-link-text,
    .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link .sidenav-mini-icon,
    .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link .sidenav-normal,
    .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link i {
        pointer-events: none;
    }

    .navbar-vertical.navbar-expand-lg .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-vertical.navbar-expand-lg .navbar-nav>.nav-item {
        margin-top: 0.125rem;
    }

    .navbar-vertical.navbar-expand-lg .navbar-nav>.nav-item .icon .ni {
        top: 0;
    }

    .navbar-vertical.navbar-expand-lg .navbar-nav>.nav-item>.nav-link .icon svg .color-background {
        fill: #3A416F;
    }

    .navbar-vertical.navbar-expand-lg .navbar-nav>.nav-item>.nav-link .icon svg .color-foreground {
        fill: #141727;
    }

    .navbar-vertical.navbar-expand-lg .lavalamp-object {
        width: calc(100% - 1rem) !important;
        background: theme-color("primary");
        color: color-yiq(#cb0c9f);
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.25rem;
    }

    .navbar-vertical.navbar-expand-lg .navbar-nav .nav .nav-link {
        padding-top: 0.417rem;
        padding-bottom: 0.417rem;
        padding-left: 15px;
    }

    .navbar-vertical.navbar-expand-lg .navbar-nav .nav .nav-link>span.sidenav-normal {
        transition: all 0.1s ease 0s;
    }
}

@media (min-width: 1200px) {
    .navbar-vertical.navbar-expand-xl {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: 15.625rem !important;
        overflow-y: auto;
        padding: 0;
        box-shadow: none;
    }

    .navbar-vertical.navbar-expand-xl .navbar-collapse {
        display: block;
        overflow: auto;
        height: calc(100vh - 360px);
    }

    .navbar-vertical.navbar-expand-xl>[class*="container"] {
        flex-direction: column;
        align-items: stretch;
        min-height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (min-width: 1200px) and (-ms-high-contrast: none),
(min-width: 1200px) and (-ms-high-contrast: active) {
    .navbar-vertical.navbar-expand-xl>[class*="container"] {
        min-height: none;
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .navbar-vertical.navbar-expand-xl.fixed-start {
        left: 0;
    }

    .navbar-vertical.navbar-expand-xl.fixed-end {
        right: 0;
    }

    .navbar-vertical.navbar-expand-xl .navbar-nav .nav-link {
        padding-top: 0.675rem;
        padding-bottom: 0.675rem;
        margin: 0 1rem;
    }

    .navbar-vertical.navbar-expand-xl .navbar-nav .nav-link .nav-link-text,
    .navbar-vertical.navbar-expand-xl .navbar-nav .nav-link .sidenav-mini-icon,
    .navbar-vertical.navbar-expand-xl .navbar-nav .nav-link .sidenav-normal,
    .navbar-vertical.navbar-expand-xl .navbar-nav .nav-link i {
        pointer-events: none;
    }

    .navbar-vertical.navbar-expand-xl .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-vertical.navbar-expand-xl .navbar-nav>.nav-item {
        margin-top: 0.125rem;
    }

    .navbar-vertical.navbar-expand-xl .navbar-nav>.nav-item .icon .ni {
        top: 0;
    }

    .navbar-vertical.navbar-expand-xl .navbar-nav>.nav-item>.nav-link .icon svg .color-background {
        fill: #3A416F;
    }

    .navbar-vertical.navbar-expand-xl .navbar-nav>.nav-item>.nav-link .icon svg .color-foreground {
        fill: #141727;
    }

    .navbar-vertical.navbar-expand-xl .lavalamp-object {
        width: calc(100% - 1rem) !important;
        background: theme-color("primary");
        color: color-yiq(#cb0c9f);
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.25rem;
    }

    .navbar-vertical.navbar-expand-xl .navbar-nav .nav .nav-link {
        padding-top: 0.417rem;
        padding-bottom: 0.417rem;
        padding-left: 15px;
    }

    .navbar-vertical.navbar-expand-xl .navbar-nav .nav .nav-link>span.sidenav-normal {
        transition: all 0.1s ease 0s;
    }
}

@media (min-width: 1400px) {
    .navbar-vertical.navbar-expand-xxl {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: 15.625rem !important;
        overflow-y: auto;
        padding: 0;
        box-shadow: none;
    }

    .navbar-vertical.navbar-expand-xxl .navbar-collapse {
        display: block;
        overflow: auto;
        height: calc(100vh - 360px);
    }

    .navbar-vertical.navbar-expand-xxl>[class*="container"] {
        flex-direction: column;
        align-items: stretch;
        min-height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (min-width: 1400px) and (-ms-high-contrast: none),
(min-width: 1400px) and (-ms-high-contrast: active) {
    .navbar-vertical.navbar-expand-xxl>[class*="container"] {
        min-height: none;
        height: 100%;
    }
}

@media (min-width: 1400px) {
    .navbar-vertical.navbar-expand-xxl.fixed-start {
        left: 0;
    }

    .navbar-vertical.navbar-expand-xxl.fixed-end {
        right: 0;
    }

    .navbar-vertical.navbar-expand-xxl .navbar-nav .nav-link {
        padding-top: 0.675rem;
        padding-bottom: 0.675rem;
        margin: 0 1rem;
    }

    .navbar-vertical.navbar-expand-xxl .navbar-nav .nav-link .nav-link-text,
    .navbar-vertical.navbar-expand-xxl .navbar-nav .nav-link .sidenav-mini-icon,
    .navbar-vertical.navbar-expand-xxl .navbar-nav .nav-link .sidenav-normal,
    .navbar-vertical.navbar-expand-xxl .navbar-nav .nav-link i {
        pointer-events: none;
    }

    .navbar-vertical.navbar-expand-xxl .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-vertical.navbar-expand-xxl .navbar-nav>.nav-item {
        margin-top: 0.125rem;
    }

    .navbar-vertical.navbar-expand-xxl .navbar-nav>.nav-item .icon .ni {
        top: 0;
    }

    .navbar-vertical.navbar-expand-xxl .navbar-nav>.nav-item>.nav-link .icon svg .color-background {
        fill: #3A416F;
    }

    .navbar-vertical.navbar-expand-xxl .navbar-nav>.nav-item>.nav-link .icon svg .color-foreground {
        fill: #141727;
    }

    .navbar-vertical.navbar-expand-xxl .lavalamp-object {
        width: calc(100% - 1rem) !important;
        background: theme-color("primary");
        color: color-yiq(#cb0c9f);
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.25rem;
    }

    .navbar-vertical.navbar-expand-xxl .navbar-nav .nav .nav-link {
        padding-top: 0.417rem;
        padding-bottom: 0.417rem;
        padding-left: 15px;
    }

    .navbar-vertical.navbar-expand-xxl .navbar-nav .nav .nav-link>span.sidenav-normal {
        transition: all 0.1s ease 0s;
    }
}

.sidenav[data-color="primary"] .navbar-nav>.nav-item>.nav-link.active .icon {
    background-image: linear-gradient(310deg, #cb0c9f 0%, #cb0c9f 100%);
}

.sidenav[data-color="secondary"] .navbar-nav>.nav-item>.nav-link.active .icon {
    background-image: linear-gradient(310deg, #8392AB 0%, #8392AB 100%);
}

.sidenav[data-color="success"] .navbar-nav>.nav-item>.nav-link.active .icon {
    background-image: linear-gradient(310deg, #82d616 0%, #82d616 100%);
}

.sidenav[data-color="info"] .navbar-nav>.nav-item>.nav-link.active .icon {
    background-image: linear-gradient(310deg, #17c1e8 0%, #17c1e8 100%);
}

.sidenav[data-color="warning"] .navbar-nav>.nav-item>.nav-link.active .icon {
    background-image: linear-gradient(310deg, #fbcf33 0%, #fbcf33 100%);
}

.sidenav[data-color="danger"] .navbar-nav>.nav-item>.nav-link.active .icon {
    background-image: linear-gradient(310deg, #ea0606 0%, #ea0606 100%);
}

.sidenav[data-color="light"] .navbar-nav>.nav-item>.nav-link.active .icon {
    background-image: linear-gradient(310deg, #e9ecef 0%, #e9ecef 100%);
}

.sidenav[data-color="dark"] .navbar-nav>.nav-item>.nav-link.active .icon {
    background-image: linear-gradient(310deg, #344767 0%, #344767 100%);
}

.sidenav[data-color="white"] .navbar-nav>.nav-item>.nav-link.active .icon {
    background-image: linear-gradient(310deg, #fff 0%, #fff 100%);
}

.main-content,
.sidenav {
    transition: all 0.2s ease-in-out;
}

.sidenav {
    z-index: 9999;
}

.sidenav .navbar-brand,
.sidenav .navbar-heading {
    display: block;
}

@media (min-width: 1200px) {
    .sidenav:hover {
        max-width: 15.625rem;
    }

    .sidenav .sidenav-toggler {
        padding: 1.5rem;
    }

    .sidenav.fixed-start~.main-content {
        margin-left: 17.125rem;
    }

    .sidenav.fixed-end~.main-content {
        margin-right: 17.125rem;
    }
}

.sidenav .navbar-heading .docs-mini {
    padding-left: 3px;
}

.sidenav .navbar-heading {
    transition: all 0.1s ease;
}

.sidenav .navbar-brand {
    padding: 1.5rem 2rem;
}

/* .sidenav-header {
    height: 4.875rem;
  } */

.sidenav-footer .card.card-background:after {
    opacity: 0.65;
}

.g-sidenav-show .sidenav .nav-item .collapse {
    height: auto;
    transition: all 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .g-sidenav-show .sidenav .nav-item .collapse {
        transition: none;
    }
}

.g-sidenav-show .sidenav .nav-link-text {
    transition: 0.3s ease;
    opacity: 1;
}

@media (max-width: 1199.98px) {
    .g-sidenav-show.rtl .sidenav {
        transform: translateX(17.125rem);
    }

    .g-sidenav-show:not(.rtl) .sidenav {
        transform: translateX(-17.125rem);
    }

    .g-sidenav-show .sidenav.fixed-start~.main-content {
        margin-left: 0 !important;
    }

    .g-sidenav-show.g-sidenav-pinned .sidenav {
        transform: translateX(0);
    }
}

.navbar-vertical.bg-white {
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.navbar-vertical.bg-white .navbar-nav .nav-link.active {
    box-shadow: none;
}

.navbar-vertical.bg-white .navbar-nav .nav-link .icon {
    background-image: linear-gradient(310deg, #e9ecef 0%, #e9ecef 100%);
}

.navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon {
    background-image: linear-gradient(310deg, #cb0c9f 0%, #cb0c9f 100%);
}

.navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon svg .color-background,
.navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon svg .color-foreground {
    fill: #fff;
}

.navbar-main {
    transition: box-shadow 0.25s ease-in, background-color 0.25s ease-in;
}

.navbar-main.fixed-top {
    width: calc(100% - (15.625rem + 1.5rem * 3));
}

.navbar-main.fixed-top+[class*="container"] {
    margin-top: 7.1875rem !important;
}

.navbar-vertical .navbar-nav .nav-link[data-bs-toggle="collapse"]:after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    content: "\f107";
    margin-left: auto;
    color: rgba(58, 65, 111, 0.5);
    transition: all 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .navbar-vertical .navbar-nav .nav-link[data-bs-toggle="collapse"]:after {
        transition: none;
    }
}

.navbar-vertical .navbar-nav .nav-link[data-bs-toggle="collapse"][aria-expanded="true"]:after {
    color: #3A416F;
    transform: rotate(180deg);
}

.navbar-vertical .navbar-nav .nav-item .collapse .nav,
.navbar-vertical .navbar-nav .nav-item .collapsing .nav {
    transition: all 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {

    .navbar-vertical .navbar-nav .nav-item .collapse .nav,
    .navbar-vertical .navbar-nav .nav-item .collapsing .nav {
        transition: none;
    }
}

.navbar-vertical .navbar-nav .nav-item .collapse .nav .nav-item .nav-link,
.navbar-vertical .navbar-nav .nav-item .collapsing .nav .nav-item .nav-link {
    position: relative;
    background-color: transparent;
    box-shadow: none;
    color: rgba(58, 65, 111, 0.5);
    margin-left: 1.35rem;
}

.navbar-vertical .navbar-nav .nav-item .collapse .nav .nav-item .nav-link:before,
.navbar-vertical .navbar-nav .nav-item .collapsing .nav .nav-item .nav-link:before {
    content: "";
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translate(0, -50%);
    height: 5px;
    width: 5px;
    border-radius: 1.5rem;
    background: rgba(58, 65, 111, 0.5);
}

.navbar-vertical .navbar-nav .nav-item .collapse .nav .nav-item .nav-link.active:before,
.navbar-vertical .navbar-nav .nav-item .collapsing .nav .nav-item .nav-link.active:before {
    height: 8px;
    width: 8px;
    background: #3A416F;
}

.navbar-vertical .navbar-nav .nav-item .collapse .nav .nav-item.active .nav-link,
.navbar-vertical .navbar-nav .nav-item .collapsing .nav .nav-item.active .nav-link {
    color: #3A416F;
}

.navbar-vertical .navbar-nav .nav-item .collapse .nav .nav-item.active .nav-link:before,
.navbar-vertical .navbar-nav .nav-item .collapsing .nav .nav-item.active .nav-link:before {
    height: 8px;
    width: 8px;
    background: #3A416F;
}

.navbar-vertical .navbar-nav .nav-item .collapse .nav .nav-item .nav-item .nav-link:before,
.navbar-vertical .navbar-nav .nav-item .collapsing .nav .nav-item .nav-item .nav-link:before {
    content: none;
}

.navbar-vertical.blur .navbar-nav>.nav-item .nav-link {
    background-color: transparent;
    box-shadow: none;
}

.navbar-vertical .navbar-brand .navbar-brand-img,
.navbar-vertical .navbar-brand span {
    transition: all 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {

    .navbar-vertical .navbar-brand .navbar-brand-img,
    .navbar-vertical .navbar-brand span {
        transition: none;
    }
}

.navbar-vertical .nav-item .nav-link span.sidenav-mini-icon {
    transition: all 0.2s ease-in-out;
    text-align: center;
    width: 0;
}

@media (prefers-reduced-motion: reduce) {
    .navbar-vertical .nav-item .nav-link span.sidenav-mini-icon {
        transition: none;
    }
}

.navbar-vertical .docs-info {
    transition: all 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .navbar-vertical .docs-info {
        transition: none;
    }
}


@media (min-width: 991px) {

    .mobile_sideNav {
        display: none !important;
    }

    .bar i {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .desktop_nav {
        display: none !important;
    }
}

.bar i {
    font-size: 20px !important;
    font-weight: 800 !important;
    cursor: pointer !important;
}



/* TOP CARD */

.top_card .bg-gradient {
    background: linear-gradient(288.08deg, #FFA781 12.59%, rgba(255, 137, 129, 0.75) 97.87%) !important;
    border-radius: 10px;
    border: none !important;
    color: #FFF !important;
    height: 150px;
}

.top_card .bg-gradient-outline {
    background: #FFFCFA;
    border: 2px solid #FFCEBE !important;
    border-radius: 10px;
    color: #FF9675 !important;
    height: 150px;
}

.top_card .chart img {
    position: absolute;
    top: 20px !important;
    right: 10px !important;
}

.top_card p {
    margin-bottom: 0 !important;
}

.top_card h5 {
    margin-bottom: 30px !important;
}

.top_card .title {
    font-size: 12px !important;
}

.top_card .child {
    font-size: 14px !important;
}

.top_card .zIndex {
    z-index: 500 !important;
    position: relative !important;
}

.border_bottom {
    border-bottom: 4px solid #000000 !important;
    padding-bottom: 10px !important;
    width: 20px !important;
}


@media (min-width: 991px) {
    .sidenav:hover {
        max-width: 15.625rem;
    }

    .sidenav .sidenav-toggler {
        padding: 1.5rem;
    }

    .sidenav.fixed-start~.main-content {
        margin-left: 17.125rem;
    }

    .sidenav.fixed-end~.main-content {
        margin-right: 17.125rem;
    }
}

.css-1r5v9hu-MuiDataGrid-root {
    border: none !important;
}

.css-17jjc08-MuiDataGrid-footerContainer {
    display: none !important;
}

.user_list_image {
    margin-right: 10px !important;
}

.fixed {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    width: 100% !important;
    z-index: 1100;
    top: 0 !important;
    padding-top: 20px !important;
    left: auto;
    right: 0;
    color: inherit;
    box-shadow: none;
    box-shadow: inset 0rem 0rem 0.0625rem 0.0625rem rgb(255 255 255 / 90%),
        0rem 1.25rem 1.6875rem 0rem rgb(0 0 0 / 5%);
    -webkit-backdrop-filter: saturate(200%) blur(1.875rem);
    backdrop-filter: saturate(200%) blur(1.875rem);
    background-color: rgba(255, 255, 255, 0.937);
    color: #344767;
    min-height: 4.6875rem;
    border-radius: 1rem;
    padding: 0 20px;
    position: -webkit-fixed !important;
    position: fixed !important;
}

@media (min-width: 991px) {

    .fixed {
        padding-left: 290px !important;
    }

}

.border_left {
    border-left: 5px solid #FF9675;
    padding-left: 20px !important;
}


/* Profile Card */

.trader {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    background: #FFFFFF;
}

@media (max-width: 1200px) {
    .dashboard_main .trader_desktop {
        display: none !important;
    }
}

@media (min-width: 991px) {
    .trader_mobile {
        display: none !important;
    }
}

@media (max-width: 768px) {

    .mint_dashboard .trader_desktop{
        display: none !important;
    }
    
}

.trader_mobile {
    transition: all 1s ease !important;
    position: fixed !important;
    top: 0 !important;
    z-index: 999999 !important;
}

.trader_mobile .cancel i {
    font-size: 23px !important;
    position: absolute;
    right: 30px !important;
    top: 40px !important;
}

.trader .card {
    border: none;
    width: 300px !important;
    overflow-x: auto !important;
    border: 1px solid rgba(193, 189, 213, 0.12);
}

.trader .card .image img {
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    border-radius: 50%;
}

.trader .card .edit_profile {
    text-decoration: none !important;
    color: #FF9675 !important;
}

.trader .card .details h6,
.trader .card .details p {
    margin-bottom: 0 !important;
}

.trader .card .details p {
    font-size: 0.875rem !important;
}

.trader .card .btn {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.trader .card .btn-primary {
    background: linear-gradient(278.99deg, #FF9675 4.15%, #AEA0FF 269.48%) !important;
    border-radius: 8px !important;
    border: none !important;
}

/* END Profile Card */

.right {
    right: -350px !important;
}

/* DEPOSIT PAGE */
.ratio {
    width: 300px !important;
}

@media (max-width: 767px) {
    .ratio {
        width: 100% !important;
    }
}

.select_assets img {
    width: 35px !important;
}

.select_assets .text-green {
    color: #3F845F !important;
    font-size: 20px !important;
}

.select_assets .active {
    background: #FFFCFA;
    border: 2px solid #FFCEBE;
}

.select_assets .card {
    border-radius: 10px !important;
    margin-bottom: 10px !important;
    /* width: 140px !important;
    height: 145px !important; */
}

.deposit_form input,
.deposit_form select {
    background: #F9FAFB !important;
    border: 2px solid #E5E7EB !important;
    border-radius: 12px !important;
}


/* LANDING PAGE */

.landingpage {
    padding-top: 50px !important;
    height: 100vh !important;
}

.landingpage .logo img {
    width: 550px;
}


.landingpage .content  p {
    width: 70% !important;
    margin: auto !important;
}

@media (max-width: 600px) {
    .landingpage .logo img {
        width: 300px !important;
    }
    .landingpage .content  p {
        width: 90% !important;
        margin: auto !important;
    }
    @media (max-width: 600px) {
        .landingpage{
            padding-top: 200px !important;
        }
    }
}

.landingpage .btn img{
    width: 30px !important;
}

.landingpage .btn{
    border-radius: 0 !important;
    padding: 10px 20px;
}

.landingpage .btn .btn-outline-secondary{
    border: 1px solid #000 !important;
    color: #000 !important;
}

.landingpage .footer{
    position: relative;
    top: 100px !important;
}

/*  CONNECT PAGE */
.connect_page{
    height: 100vh !important;
}

@media (max-width: 600px) {
    .connect_page{
        padding-top: 150px !important;
    }
}

.connect_page .logo img{
    width: 120px;
    margin-bottom: 13px;
}

.connect_page form label{
    text-align: right !important;
}


.connect_page .password{
    color: #0272c2;
}

.connect_page form input{
    width: 100%!important;
    border-bottom: 2px solid #0272c2 !important;
    border: none;
    outline: none !important;
}

.connect_page form .btn-primary{
    background: #0272c2 !important;
    border: none !important;
    border-radius: 50px !important;
    width: 100%;
    padding: 15px 20px !important;
    border: none !important;
}


/* WALLET CONNECT */

.wallet_connect{
    background: #272a2e;
    height: 100vh !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px !important;
}

.wallet_connect .card{
    border-radius: 20px !important;
}

.wallet_connect .wallets p{
    font-size: 14px !important;
    line-height: 15px;
    padding-top: 8px;
    font-weight: 500 !important;
}

.wallet_connect .tab{
    background: #abacae;
    padding: 5px !important;
    border-radius: 10px !important;
}

.wallet_connect .tab .nav{
    color: #FFF;
}

.wallet_connect .tab .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #FFF;
    color: #000;
}

.message{
    font-size: 14px;
    padding-top: 10px;
    color: red;
}